<h1>Help</h1>
<p>What should you do with this app?</p>

<ul>
<li><a href="#find">Find all the problems</a></li>
<li><a href="#hack">Try and exploit the problems, one by one</a></li>
<li><a href="#fix">Fix the problems, so your hacks won't work any more</a></li>
</ul>



<h2 id="find">Find alle the problems</h2>

<p>This app exhibits several security problems
commonly found in rails apps.  Find them!</p>

<p>Sources:</p>

<ul>
<li><a href="http://guides.rubyonrails.org/security.html">Rails Security Guide</a></li>
<li><a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">OWASP Top 10</a></li>
</ul>


<h2 id="hack">Try to exploit the problems</h2>

<p>For every weakness you find: try and build a hack to exploit it.</p>
<p>One simple way of doing it might be to build a rspec integration test 
that tests for it</p>




<h2 id="fix">Fix the problems</h2>

<p>For every weakness you find: fix it.</p>
<p>If you wrote your hacks as rspec test, those test should
be succeeding now.</p>




